html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: #161616;
    color: #dddddd;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: monospace;
}

.hora {
    font-size: 10em;
}

.data {
    font-size: 4em;
}

@media screen and (max-width: 800px) {
    .hora {
        font-size: 8em;
    }

    .data {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: calc(100vh - 50px);
    }

    .hora {
        font-size: 5.5em;
    }

    .data {
        font-size: 2.5em;
    }
}